# dependencies
node_modules
.pnpm-store

# next / turbo
.next
.turbo
out
dist
build
storybook-static

# env
.env
.env*.local

# logs / debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / IDE
.DS_Store
*.pem
.idea
.vscode

# typescript
*.tsbuildinfo
next-env.d.ts
